@import url('https://fonts.googleapis.com/css?family=Comfortaa');

*{
    font-family: 'Comfortaa', cursive;
}

body{
    background: url('cafe-search.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}


.header {
    position: absolute;
    top: calc(50% - 35px);
    left: calc(30% - 255px);

}

.header div {
    float: left;
    color: #fff;
    font-size: 40px;
    font-weight: 200;
}

.header div span {
    color: #F29E20 !important;
}

.login {
    position: absolute;
    top: calc(50% - 75px);
    left: calc(45% - 50px);
    background: rgba(0, 0, 0, 0.6);
    height: 150px;
    width: 270px;
    padding: 10px;
    border-radius: 5px;

}

.login input[type=text] {
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
}

.login input[type=password] {
    width: 250px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
}

.login input[type=button] {
    width: 250px;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 5px;
    color: #a18d6c;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
}

.login input[type=button]:hover {
    opacity: 0.8;
}

.login input[type=button]:active {
    opacity: 0.6;
}

.login input[type=text]:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.9);
}

.login input[type=password]:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.9);
}

.login input[type=button]:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

::-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
}