@import url('https://fonts.googleapis.com/css?family=Comfortaa');

*{
    font-family: 'Comfortaa', cursive;
    text-opacity: 100%;
}

body{
    background: url('cafe-search.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#map-div {
    height: 70%;
    width: 70%;
    padding: 0;
    margin: 100px;
}

#map-canvas {
    height: 100%;
}

.map-info {
    color: white;
}