@import url('https://fonts.googleapis.com/css?family=Comfortaa');

*{
    font-family: 'Comfortaa', cursive;
    text-opacity: 100%;
}


html {
    height: 100%;
}
body {
    height: 70%;
    width: 70%;
    padding: 0;
    margin: 100px;
}
#map-canvas {
    height: 100%;
}